<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Balance: $ {{account.balance.amount}}
            </h3>
            <ul class="list-unstyled">
                <li>
                    {{account.iban}}
                </li>
                <li>
                  as of {{account.lastUpdatedOn | date:'medium'}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Contacts
            </h3>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <a href="#/contacts/new" class="btn" type="button">Add a contact</a>
                </div>
                <div class="col-md-4 column">
                    <a href="#/contacts/view" class="btn" type="button">View contacts</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 column">
            <h3>
                Transactions
            </h3>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <a href="#/transactions/deposits/new" class="btn" type="button">Deposit funds</a>
                </div>
                <div class="col-md-4 column">
                    <a href="#/transactions/withdrawals/new" class="btn" type="button">Withdraw funds</a>
                </div>
                <div class="col-md-4 column">
                    <a href="#/transactions/payments/new" class="btn" type="button">Pay a contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 column">
            <h3>
                Statements
            </h3>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <a href="#/reports/monthly" class="btn" type="button">Current month</a>
                </div>
                <div class="col-md-4 column">
                    <a href="#/reports/yearly" class="btn" type="button">Current year</a>
                </div>
                <div class="col-md-4 column">
                    <a href="#/reports/custom" class="btn" type="button">Customized report</a>
                </div>
            </div>
        </div>
    </div>
</div>
