<form name="newContactForm" class="form-horizontal" novalidate>
  <fieldset>

    <legend>Make a Withdrawal</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="amount">Amount</label>
      <div class="col-md-4">
        <input id="amount" name="amount" type="text" placeholder="e.g. 100.45" class="form-control input-md" ng-model="withdrawal.amount" required="">
        <span class="help-block">Amount to withdraw</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="makeWithdrawal"></label>
      <div class="col-md-8">
        <button id="makeWithdrawal" name="makeWithdrawal" class="btn btn-success" ng-click="makeWithdrawal()">Withdraw</button>
        <button id="reset" name="reset" class="btn btn-default" ng-click="clear()">Reset</button>
      </div>
    </div>
  </fieldset>
</form>
